# Copy to /etc/default/zabbix_jvm_discovery and adjust.
#
# Required: path to application-specific instance collector
# INSTANCE_COLLECTOR=/usr/local/lib/mylands-jvm-discovery/collect-instances.sh

# TRAP discovery item keys (must match Zabbix template)
# ZABBIX_DISCOVERY_KEY_JVM=zabbix.jvm.discovery
# ZABBIX_DISCOVERY_KEY_GC=zabbix.jmx_jvm_gc.discovery
# ZABBIX_DISCOVERY_KEY_MP=zabbix.jmx_jvm_mp.discovery

# ZABBIX_MONITORED_HOST_JMX=
# ZABBIX_AGENT_CONFIG=/etc/zabbix/zabbix_agentd.conf
